<div class="container mt-5 card-container">
    <div class="col-8">
      <div class="header-list">
        <h2>Add a new list</h2>
        <%= link_to lists_path do %>
          <i class="fa fa-arrow-circle-left"></i>
        <% end %>
      </div>
      <div class="card-form">
        <div>
          <%= simple_form_for(@list) do |f| %>
            <%= f.input :name %>
            <%= f.button :submit, "Add list", class: "btn btn-primary btn-list"  %>
          <% end %>
        </div>
      </div>
    </div>
</div>
