.banner {
  background-size: cover;
  background-position: 35% 65%;
  padding: 150px 0;
  height: 70vh;
  align-content: center;
  margin-top: -100px; // bidouille
  display: flex;
  justify-content: center;
  align-items: center;
}
.banner h1 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 48px;
  font-weight: bold;
}

.banner p {
  font-size: 20px;
  color: white;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}
