// CARDS LISTS
.card-lists {
  height: 20vh;
  display: flex;
  align-items: center;
}

.card-list {
  background-color: #d6d2d9;
  background-size: cover;
  background-position: center;
  height: 150px;
  width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  font-weight: bold;
  border-radius: 5px;
  margin: 8px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  transition: all 0.4s;
  h3 {
    font-size: 24px;
    font-weight: bold;
    color: #4f494a;
  }
}

.card-list:hover {
  transform: scale(1.05);
}

.new-card {
  background-color: #ef3064;
  h3 {
    color: white;
    font-size: 70px;
    font-weight: bold;
  }
}

// CARD NEW LIST
.card-container {
  display: flex;
  justify-content: center;
}

.card-form {
  height: 82vh;
}


// CARD SHOW LIST
.header-list {
  display: flex;
  justify-content: space-between;
  height: 5vh;
  margin: 16px 0px;
}

.cards-movies {
  display: flex;
  flex-wrap: wrap;
}

.cards-movies-min {
  height: 40vh;
}

.card-movie {
  margin: 8px;
}

.movie-poster {
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.card-movie-info {
  display: flex;
  padding-top: 8px;
}

.movie-info-text {
  flex-grow: 1;
  p {
    color: grey;
    font-size: 14px;
    font-weight: lighter;
  }
  h6 {
    width: 330px;
    margin-bottom: 4px;
  }
}
